body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
}

.navbar .logo h1 {
    margin: 0;
    font-size: 24px;
}

.navbar .search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.navbar .search-bar button {
    background-color: white;
    color: #ff0000;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.centered-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.input-group {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between; /* 버튼을 오른쪽에 배치 */
}

.fields-container {
    display: flex;
    flex-direction: column; /* 필드들을 세로로 배치 */
    flex: 1; /* 버튼과 공간 공유 */
}

.fields-container input {
    width: 90%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 50px 0 0 50px;
    font-size: 16px;
    margin: 5px;
}

.input-group button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    font-size: 16px;
    height: 95.34px;
    transition: transform 0.2s ease;
}

.input-group button:hover {
    transform: scale(0.95);
}

.search-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search-box input {
    width: 300px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 50px 0 0 50px;
    font-size: 16px;
}

.search-box button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    font-size: 16px;
}

.hashtags {
    margin-top: 20px;
}

.suggestions {
    margin-top: 30px;
    text-align: center;
}

.suggestions h2 {
    font-size: 20px;
    color: #ff0000;
}

.suggestions p {
    font-size: 16px;
    color: #555;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
